<div class="cover{{#if @site.cover_image}} image-loading{{/if}}{{#match @custom.publication_cover_style "Half screen"}} half{{/match}} gh-outer">
    {{#if @site.cover_image}}
        <img class="cover-image u-object-fit" src="{{@site.cover_image}}" alt="{{@site.title}}">
    {{/if}}

    <div class="cover-content">
        {{#if @site.description}}
            <div class="cover-description">
                {{@site.description}}
            </div>
        {{/if}}

        <form id="cover-form" class="form-wrapper cover-form">
            {{@custom.email_signup_text}} <br/>
            <div class="inner-submit-container">
              <input class="auth-email" type="email" placeholder="Your email address" required="true" autocomplete="false">
              <button class="form-button" type="submit" aria-label="Submit">
                  <span class="default">Subscribe</span>
                  <span class="loader">{{> "icons/loader"}}</span>
                  <span class="success">Added to waitlist!</span>
              </button>
            </div>
            <div class="inner-success-container">
              Success! We'll reach out!
            </div>
        </form>
    </div>

    <!--
    <button class="button-icon cover-arrow">
        {{> "icons/caret-down"}}
    </button>
    -->
</div>
